.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #3B4252;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authContainer {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}