.currentPoll {
    width: 90%;
    min-height: 3rem;
    background-color: #A2A6B2;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
}

.currentPoll p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */
    color: #2E3440;
}

.pastPoll {
    width: 90%;
    min-height: 3rem;
    background-color: #A2A6B2;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2rem;
}

.pastPoll p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
/* identical to box height */
    color: #2E3440;
}